{% extends 'base.html' %}


{% block content %}

<div class="container-wrapper">
    <div class="homepage-img">
        <div class="imgwrap">
            {% load random_image %}
            <img src="{{ MEDIA_URL }}{% random_image %}" alt="picture of restaurant">
        </div>
    </div>
    <div class="content-wrapper main-column">
        <div class="text-area content">
            <!-- welcome section -->
            <h1 class="text-center fw-bolder display-1">Welcome to Scoff's.</h1>
            <div class="text-center fw-bold px-2 pb-3">
                <p>Our restaurant is a beautifully renovated listed building with high gabled ceilings and a wonderful
                    ambience.
                    Join us for the freshest, most delicious steak, fish and shellfish in this stunning setting.</p>
                <p>
                    We have outdoor seating for 50, a separate bar area and a fish counter in the restaurant selling
                    fresh and smoked fish and a range of delicatessen products.
                </p>
                <p>
                    For a first rate à la carte menu filled with seasonal and fresh dishes, come and visit Scoff's
                    restaurant today.
                    Great food and a welcoming atmosphere.
                </p>

                <div>
                    <button onclick="document.location.href='{% url 'add_booking' %}';" class="btn btn-danger w-20"
                        type="button">Book a Table</button>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}