{% extends 'base.html' %}
{% load static %}

{% block title %}Make a Booking{% endblock %}

{% block content %}

<div class="container">
    <form method='POST' enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Make a Booking</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-danger mt-2 w-20">Save Booking</button>
        </div>
    </form>
</div>
{% endblock %}