{% extends 'base.html' %}

{% block title %}Delete Booking{% endblock %}
{% block content %}


<div class="container">
    <h1 class="text-center mt-2">Confirm Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method='post' class="text-center">
            {% csrf_token %}
            <table class="table table-striped-columns table-bordered p-20">
                <thead>
                    <tr>
                        <th class="px-5" scope="col">Ref</th>
                        <th class="px-5" scope="col">Name</th>
                        <th class="px-5" scope="col">Date</th>
                        <th class="px-5" scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">"{{object.id}}"</th>
                        <td>"{{object.cust_name}}"</td>
                        <td>"{{object.booking_date}}"</td>
                        <td>"{{object.get_booking_time_display}}"</td>
                    </tr>
                </tbody>
            </table>

            <input type="submit" value="Confirm" class="btn btn-warning w-25">
        </form>
    </div>
</div>

{% endblock %}