{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/bookings/css/bookings.css' %}">
{% endblock %}

{% block title %}Bookings{% endblock %}

{% block content %}

<div class="container mx-0 p-0">
    {% if request.user.is_staff %}
    <h1 class="text-center">All Bookings</h1>
    {% else %}
    <h1 class="text-center">Your Bookings</h1>
    {% endif %}

    <!-- Searches -->
    {% if request.user.is_staff %}
    <form method='GET' class="d-flex">
        <input class="form-control me-2 w-auto p-1 m-1" type="text" name='name' placeholder="Name"
            aria-label="Search Booking by Name" value='{{ request.GET.name }}' autocomplete="off">
        <button class="btn btn-danger p-1 m-1" type="submit">Search</button>
    </form>

    <form method='GET' class="d-flex">
        <input class="form-control me-2 w-auto p-1 m-1" type='text' name='ref' placeholder="Ref"
            aria-label="Search Booking by reference" value='{{ request.GET.ref }}' autocomplete="off">
        <button class="btn btn-danger p-1 m-1" type="submit">Search</button>
    </form>
    {% endif %}

    <form method='GET' class="d-flex">
        <!-- <input class="form-control me-2 w-auto p-1 m-1" type='date' name='date' placeholder="Date"
            aria-label="Search Bookings by date" value='{{ request.GET.date }}' autocomplete="off" class="datepicker"
            id="datepicker" type="submit"> <button class="btn btn-danger p-1 m-1" type="submit">Search</button> -->
        <input class="form-control me-2 w-auto p-1 m-1 datepicker" type='date' name='date'
            aria-label="Search Bookings by date" value='{{ request.GET.date }}' autocomplete="off"
            id="datepicker"> <button class="btn btn-danger p-1 m-1" type="submit">Search</button>
    </form>

    <!-- bookings cards -->
    <div class="card-container px-0 m-0">

        {% for booking in object_list %}

        {% if request.user.is_staff or request.user == booking.cust %}
        <div class="custom-card m-1 p-0">
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Date:</p>
                <button class="m-1 w-50">{{ booking.booking_date }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Time:</p>
                <button class="m-1 w-50">{{ booking.get_booking_time_display }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Ref:</p>
                <button class="m-1 w-50">{{ booking.pk }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Party of:</p>
                <button class="m-1 w-50">{{ booking.booking_party_size }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Name:</p>
                <button class="m-1 w-50">{{ booking.cust_name }}</button>
            </div>
            {% if request.user.is_staff %}
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Table:</p>
                <button class="m-1 w-50">{{ booking.booking_table }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Capacity:</p>
                <button class="m-1 w-50">{{ booking.booking_table.table_num_seats }}</button>
            </div>
            {% endif %}
            <div class="buttondiv my-2 fw-bold">
                <button onclick="document.location.href='{% url 'edit_booking' booking.id %}';"
                    class="editbutton w-30 fw-bold">Edit</button>
                <button onclick="document.location.href='{% url 'delete_booking' booking.id %}';"
                    class="deletebutton w-30 fw-bold">Delete</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
    $(function () {
        $('#datepicker').datepicker();
    });
</script>
{% endblock %}