{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/css/bookings.css' %}">

{% endblock %}

{% block title %}Bookings{% endblock %}

{% block content %}
<div class="container mx-0 p-0">
    <!-- Search querys -->
    {% if request.user.is_staff %}
    <form method='GET' class="mb-3">
        <input type='text' name='q' value='{{ request.GET.q }}' autocomplete="off"
            aria-label="Search Booking by reference" placeholder="Search Booking Ref">
        <button class="btn p-0 search-btn" type='submit' value="Search Booking by ref"
            aria-label="Click to search by booking ref">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <form method='GET' class="mb-3">
        <input type='text' name='d' value='{{ request.GET.d }}' class="datepicker" autocomplete="off"
            aria-label="Search Bookings by date" placeholder="Search Booking Date">
        <button class="btn p-0 search-btn" type='submit' value="Search Booking by ref"
            aria-label="Click to search by date">
            <i class="fas fa-search"></i>
        </button>
    </form>
    {% endif %}
    <!-- Manage bookings table -->

    <div class="card-container px-0 m-0">

        {% for booking in object_list %}

        <div class="custom-card m-1 p-0">
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Date:</p>
                <button class="m-1 w-50">{{ booking.booking_date }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Time:</p>
                <button class="m-1 w-50">{{ booking.get_booking_time_display }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Ref:</p>
                <button class="m-1 w-50">{{ booking.pk }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Party of:</p>
                <button class="m-1 w-50">{{ booking.booking_party_size }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Name:</p>
                <button class="m-1 w-50">{{ booking.cust_name }}</button>
            </div>
            {% if user.is_staff %}
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Table:</p>
                <button class="m-1 w-50">{{ booking.booking_table }}</button>
            </div>
            <div class="card-row">
                <p class="ms-1 mt-1 mb-0 fw-bold">Capacity:</p>
                <button class="m-1 w-50">{{ booking.booking_table.table_num_seats }}</button>
            </div>
            {% endif %}
            <div class="buttondiv my-2 fw-bold">
                <button onclick="document.location.href='{% url 'edit_booking' booking.id %}';" class="editbutton w-30 fw-bold" href="{% url 'edit_booking' booking.id %}">Edit</button>
                <button onclick="document.location.href='{% url 'delete_booking' booking.id %}';" class="deletebutton w-30 fw-bold" href="{% url 'delete_booking' booking.id %}">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
    });
</script>
{% endblock %}