{% load static %}

<footer>
    <div id="footer-items">
        <!-- Address -->
        <div class="address">
            <p>112 East End,</p>
            <p>Lymington,</p>
            <p>SO41 5SY</p>
            <p>Tel: 0238 155463</p>
        </div>
        <!-- Social media icons -->
        <div class="social">
            <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook - new tab">
                <img src="{% static '/icons/facebook.svg' %}" alt="Facebook icon" class="social-icon">
            </a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram - new tab">
                <img src="{% static '/icons/instagram.svg' %}" alt="Instagram icon" class="social-icon">
            </a>
            <a href="https://twitter.com/?lang=en" target="_blank" rel="noopener" aria-label="Twitter - new tab">
                <img src="{% static '/icons/twitter.svg' %}" alt="Twitter icon" class="social-icon">
            </a>
            <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="YouTube - new tab">
                <img src="{% static '/icons/youtube.svg' %}" alt="YouTube icon" class="social-icon">
            </a>
        </div>
    </div>
</footer>