@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

:root {
    /* Fonts */
    --title: Montserrat, sans-serif;
    --main-font: Ubuntu, sans-serif;

    /* colours */
    /* --background: #67717a; */
    --background: #C2B280;
    --deftextcolor: #436175;
    --bootstrap_blue: #0d6efd;
    --yellow: #FFD700;
    --off-white: #f0f0f0;
    --white: #fff;
    --black: #000;
    --green: yellowgreen;

    /* utils */
    --border: 1px solid #000;
    --small-box-shadow: 1px -1px 7px 0 #000;
}

html,
body {
    height: 100%;
    color: var(--deftextcolor);
    background-color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--background);
}

.btn-danger {
    background-color: var(--deftextcolor);
    border: var(--border);
}

.btn-danger:hover {
    background-color: var(--deftextcolor);
    border: var(--border);
}

.btn-success {
    background-color: var(--background);
    border: var(--border);
}

.btn-success:hover {
    background-color: var(--background);
    border: var(--border);
}

/* Header */
.navbar {
    /* height: 4rem; */
    background-color: var(--background);
    /* box-shadow: var(--small-box-shadow); */
    color: var(--deftextcolor);
}

.container-fluid {
    background-color: var(--background);
}

a.nav-link {
    color: var(--deftextcolor);
}

img.logo {
    width: 15rem;
    height: 8rem;
}

.text-info {
    background-color: var(--deftextcolor);
    color: var(--off-white);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--off-white)!important;
}

/* Footer */
footer {
    background-color: var(--background);
    border-top: var(--border);
    max-height: 120px;
}

#footer-items {
    display: flex;
}

.address {
    align-self: flex-start;
    width: 100%;
}

.address p {
    font-size: 0.8rem;
    /* font-weight: bold; */
    margin-bottom: 0;
    padding-left: 0.5rem;
}

.social {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* homepage */
.homepage-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgwrap {
    width: 80%;
    margin: auto;
}

.imgwrap img {
    display: block;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    height: auto;
    margin: auto;
}

/* .welcome {
    padding: 1rem 2rem;
    text-align: center;
}

.welcome p {
    padding: 0.5rem 1rem;
} */

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* booking card */
.card {
    background-color: var(--background) !important;
    /* border: var(--border): */
}

/********************************************/
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-card {
    border: var(--border);
    background-color: var(--background);
    color: var(--deftextcolor);
    display: flex;
    flex-direction: column;
    width: 25rem;
    /* justify-content: space-between; */
}

.custom-card button {
    border-style: solid;
    background-color: var(--deftextcolor);
    color: var(--off-white);
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.buttondiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttondiv .editbutton {
    background-color: var(--deftextcolor);
}

.buttondiv .deletebutton {
    background-color: var(--background);
    color: var(--deftextcolor);
}

.toasts {
    /* position: fixed;
    top: 127px;
    right: 0px;
    z-index: 99999999999; */
    width: 400px;
}

.toasts .toast {
    background: var(--deftextcolor);
    color: var(--off-white);
}

.toast-body {
    font-size: 1rem;
}
