@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

:root {
    /* Fonts */
    --title: Montserrat, sans-serif;
    --main-font: Ubuntu, sans-serif;

    /* colours */
    /* --background: #67717a; */
    --background: #C2B280;
    --deftextcolor: #436175;
    --bootstrap_blue: #0d6efd;
    --yellow: #FFD700;
    --off-white: #f0f0f0;
    --white: #fff;
    --black: #000;
    --green: yellowgreen;

    /* utils */
    --border: 1px solid #000;
    --small-box-shadow: 1px -1px 7px 0 #000;
}

html,
body {
    height: 100%;
    color: var(--deftextcolor);
    background-color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--background);
}

/* Header */
.navbar {
    background-color: var(--background);
    color: var(--deftextcolor);
}

.container-fluid {
    background-color: var(--background);
}

a.nav-link {
    color: var(--deftextcolor);
}

img.logo {
    width: 15rem;
    height: 8rem;
}

.text-info {
    background-color: var(--deftextcolor);
    color: var(--off-white);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--off-white)!important;
}

/* Footer */
footer {
    background-color: var(--background);
    border-top: var(--border);
    max-height: 120px;
}

#footer-items {
    display: flex;
}

.address {
    align-self: flex-start;
    width: 100%;
}

.address p {
    font-size: 0.8rem;
    /* font-weight: bold; */
    margin-bottom: 0;
    padding-left: 0.5rem;
}

.social {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* homepage */
.homepage-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgwrap {
    width: 80%;
    margin: auto;
}

.imgwrap img {
    display: block;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    height: auto;
    margin: auto;
}

/* override bootstrap btn-danger */
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: var(--deftextcolor) !important;
    border: none !important;
}
